* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
  }

  
  body {
    height: 100vh;
    display: flex;
   align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
   background-image: url("IMG/BACKGROUND.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position:center right;
  }

  main {
    background-color: rgba(255, 255, 255, 0.664);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    width: 350px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    align-items: center; 
  }

  img{
    width: 100px;
  }

  button{
    width: 250px;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: red;
    margin-bottom: 50px;
    height: 50px;
    font-size: 30px;
    margin-top: 20px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.61);
  }

  h2{
    color: rgb(0, 0, 0);
    
  }

